body {
   margin-left: 10%;
   margin-right: 10%;
   max-width: 210mm;
   min-width: 100mm;
   font-family: Palatino;
   font-size: 12pt;
}

h1, h2, h3, h4, h5, h6, nav, figure figcaption {
   font-family: Arial;
}

p {
   text-align: justify;
}

figure {
   margin-top: 1cm;
   margin-bottom: 1cm;
}

figure img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   max-width: 80%;
}

figure figcaption {
   display: block;
   text-align: center;
   font-weight: bold;
}

section.tiles > *:first-child {
   width: 100%;
   text-align: center;
}

section.tiles, div.tiles {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-content: flex-start;
   align-items: stretch;
}
section.tile, div.tile {
   min-width: 10em;
   height: 13em;
   width: 22%;
   margin-right: 3%;
   margin-bottom: 3%;
   padding: 1em 1em;
   border: 1px solid rgb(200,200,200);
   text-align: center;
}

.tile p {
   text-align: left;
}

.tile a {
   font-size: 0.8125em;
}

section > pre {
   border: 1px solid rgb(200,200,200);
   background-color: rgba(230,230,230,0.5);
   padding: 1em 1em;
   overflow: scroll;
   width: 100%;
}

pre > code {
   white-space: pre;
}
